
/* General styling
=============== */

:root {
    --clr-black:rgb(0,0,0);
    --clr-white:rgb(255,255,255);
    --clr-gray:#BFC0C0;

    --fs-xl:clamp(3.5rem,1rem + 100vw,4.5rem);
    --fs-600:1.65rem;
    --fs-400:1.125rem;

    --padding-xl:2.5rem;
    --padding-700:2.25rem;
    --padding-600:2rem;
    --padding-400:2rem;
}


@media (min-width:524px){
    :root{
        --fs-600:2.25rem;
    }
}

@media (min-width:920px){
    :root{
        --fs-600:2.5rem;
        --fs-400:1.25rem;

        --padding-700:3rem;
        --padding-xl:4rem;
        --padding-700:2.5rem;
    }
}


/* Utility 
=============== */

.title {
    font-size:var(--fs-xl);
}

.subtitle {
    font-size:var(--fs-600)
}

.text {
    line-height: 125%;
}

.section {
    padding:var(--padding-xl) var(--padding-400);
}

/* General components
=============== */

.page-wrapper {
    max-width: 1250px;
    margin:0 auto;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight:900;
};

.nav {
    height:100vh;
    width:1px;
    z-index:10;
    background-color:var(--clr-white);
    opacity: 0.1;
    position:fixed;
    top:0;
}

/* Grid 
=============== */

.grid-decoration {
    height:100vh;
    width:1px;
    z-index:10;
    background-color:var(--clr-white);
    opacity: 0.1;
    position:fixed;
    top:0;
}

.grid-decoration:nth-child(1) {
    margin-left:25%;
}

.grid-decoration:nth-child(2) {
    margin-left:50%;
}

.grid-decoration:nth-child(3) {
    margin-left:75%;
}

/* Nav
=============== */

.nav {
    position: sticky;
    max-width: 1250px;
    display: flex;
    justify-content: end;
}

.nav-inner {
    display:inline-flex;
    justify-content: end;
    align-items: center;
    gap:0.5rem;
}

.nav__text {
    animation: textSlideIn 1000ms ease-out;
}

.nav__text::before{
    content:'Bienvenue';
    animation: textChanging1 20s infinite;
}


.nav__menu-btn {
    height:15px;
    width:15px;
    outline:none;
    border:none;
    background-color:var(--clr-white);
}

/* Hero
=============== */

.hero {
    padding:var(--padding-600);
    height:min(800px,100vh);
}

.hero-content__text {
    font-size:clamp(3.5rem,1rem + 10vw,4.5rem);
    color:var(--clr-white);
    margin-top:var(--padding-xl);
    margin-bottom:var(--padding-xl);
    animation: textSlideIn 1000ms ease-out;
}

.hero-content__text--gray {
    color:var(--clr-gray);
}

.hero-content-links__link {
    font-size:var(--fs-600);
    letter-spacing: 0px;
    transition: 400ms ease-in-out;
    animation: textSlideIn 1000ms ease-out;
}

@media (max-width:576px) {
    .hero-content-links__link {letter-spacing: normal;}
}

.hero-content-links__link:hover {
    transition: 600ms ease-in-out;
    letter-spacing: 7px;
}

.hero-content-links__link-decoration {
    font-size:1.2rem;
    letter-spacing: normal;
    color:var(--clr-white);
    opacity: 0.3;
}

.hero-footer__links {
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

@keyframes letter-spacing {
    0% {letter-spacing: normal;}
    100%{letter-spacing: 3px;}
}

@keyframes textSlideIn {
    0%{transform:translateX(-15%);opacity:0}
    100%{transform:translateX(0%);opacity:1}
}

@keyframes textChanging1 {
    0%{opacity:1;content:'Bienvenue'}
    23%{opacity:1;color:white}
    28%{opacity:0;color:white;content:'Bienvenue'}/*transform: translateX(-1000%);*/
    29%{opacity:0;content:'Welcome'}
    33%{opacity:1;content:'Welcome';}
    56%{opacity:1;}
    61%{opacity:0;content:'Welcome'}
    62%{opacity:0;content:'Bienvenido'}
    66%{opacity:1;}
    89%{opacity:1;content:'Bienvenido'}
    94%{opacity:0;content:'Bienvenido'}
    95%{opacity:0;content:'Bienvenue'}
    100%{opacity:1;content:'Bienvenue';}
    /*90%{opacity:1;transform: translateX(0%);}
    95%{opacity:0;transform: translateX(-100%);}
    100%{opacity:1;transform: translateX(0%);content:'Bienvenue'}*/
}

/* About me
=============== */

.about-me {
    padding:0;
    margin-bottom: var(--padding-xl);
}

.about-me-content__subtitle , .about-me__title {
    padding-bottom: var(--fs-400);
}

.about-me__title {
    padding-left:var(--padding-400);
}

.about-me-content__desc {
    line-height: 120%;
}

.about-me-container {
    padding: var(--padding-400);
    background: url('../res/project-1.jpg') center/cover;
    background-attachment: fixed;
}

.about-me-content {
    padding: var(--padding-400);
    padding-top: var(--padding-700);
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(16px);
    height:100%;
    width:400px;
}


/* Projects
=============== */


.projects {
    padding:0;
}

.projects__title {
    margin-top: var(--fs-xxl);
    margin-bottom:var(--fs-400);
    margin-top:var(--padding-xxl);
    padding-left: var(--padding-400);
}

.projects-container-desktop , .projects-container-sm {
    background:;
    display:flex;
    padding:var(--padding-400);
}

.projects-content {
    background: rgba(255,255,255,0.15);
    padding: var(--padding-400);
    backdrop-filter: blur(16px);
    height:100%;
    max-width:400px;
}

.projects-content__title {
    margin-bottom: var(--fs-400);
}

.projects-content__desc {
    line-height: 125%;
    margin-bottom: var(--fs-400);
}

.projects-content-skills {
    display:flex;
    max-width:100%;
    flex-wrap: wrap;
    gap:8px
}

.projects-content-skills__skill {
    padding:8px;
    font-size:1rem;
    border-radius: 80px;
    border:solid 2px white;
    display:inline;
}

.projects-preview {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.projects-preview__img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background: url('../res/project-1.PNG') center/cover;
    width:500px;
    height:235px;
}

.projects-preview__previous-btn {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 9px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.projects-preview__next-btn {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 9px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.projects-container-sm {
    display:none;
    background: ;
    gap:var(--padding-400)
}

.project-container-project {
    max-height:600px;
}

.projects-content-preview__img {
    width:100%;
    height:150px;
    background: url('../res/project-1.PNG') center/cover;
}

.projects-container-sm .projects-content {
    height:auto;
}

@media screen and (max-width:1100px){
    .projects-container{
        display:flex;
        flex-direction:column
    }
    .projects-container-desktop {display:none;}
    .projects-container-sm {
        display: flex;
    }
}