<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet/normalize.css">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <title>Kilian Nagel</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="grid-decoration"></div>
        <div class="grid-decoration"></div>
        <div class="grid-decoration"></div>

        <section class="hero section">
            <nav class="nav">
                <div class="nav-inner">
                    <p class="nav__text"></p>
                    <button class="nav__menu-btn btn"></button>
                </div>
            </nav>
            <div class="hero-content">
                <h1 class="hero-content__text">Kilian<br><span class="hero-content__text--gray">Nagel</span></h1>
                <div class="hero-content-links">
                    <p class="hero-content-links__link">About me <span class="hero-content-links__link-decoration">001</span></p>
                    <p class="hero-content-links__link">Projets <span class="hero-content-links__link-decoration">002</span></p>
                    <p class="hero-content-links__link">Compétences <span class="hero-content-links__link-decoration">003</span></p>
                    <p class="hero-content-links__link">Contact <span class="hero-content-links__link-decoration">004</span></p>
                </div>
            </div>
        </section>

        <section class="about-me section">
            <h2 class="about-me__title title">About me</h2>
            <div class="about-me-container">
                <div class="about-me-content">
                    <h3 class="about-me-content__subtitle subtitle">Développeur web</h3>
                    <p class="about-me-content__desc text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laudantium error minus dignissimos reprehenderit voluptates neque modi veritatis quidem mollitia aut in est accusamus ad nisi molestiae sunt recusandae sit!</p>
                </div>
            </div>
        </section>

        <section class="projects section">
            <h2 class="projects__title title">Projects</h2>
            <div class="projects-container-desktop">
                <div class="projects-content container">
                    <h3 class="projects-content__title subtitle">Recipes App</h3>
                    <p class="projects-content__desc text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, animi perferendis facilis sed praesentium facere quo molestias dolor. Vel fugit voluptatem nam eum a est illo dolor laboriosam odio optio.</p>
                    <div class="projects-content-skills">
                        <span class="projects-content-skills__skill">React</span>
                        <span class="projects-content-skills__skill">Node.js</span>
                        <span class="projects-content-skills__skill">Express</span>
                    </div>
                </div>
                <div class="projects-preview">
                    <span class="projects-preview__previous-btn"></span>
                    <div class="projects-preview__img"></div>
                    <span class="projects-preview__next-btn"></span>
                </div>
            </div>

            <div class="projects-container-sm">
                <div class="projects-container-project">
                    <div class="projects-content container">
                        <h3 class="projects-content__title subtitle">Recipes App</h3>
                        <p class="projects-content__desc text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, animi perferendis facilis sed praesentium facere quo molestias dolor. Vel fugit voluptatem nam eum a est illo dolor laboriosam odio optio.</p>
                        <div class="projects-content-skills">
                            <span class="projects-content-skills__skill">React</span>
                            <span class="projects-content-skills__skill">Node.js</span>
                            <span class="projects-content-skills__skill">Express</span>
                        </div>
                    </div>
                    <div class="projects-content-preview">
                        <span class="projects-content-preview__previous-btn"></span>
                        <div class="projects-content-preview__img"></div>
                        <span class="projects-content-preview__next-btn"></span>
                    </div>
                </div>
                <div class="projects-container-project">
                    <div class="projects-content container">
                        <h3 class="projects-content__title subtitle">Recipes App</h3>
                        <p class="projects-content__desc text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, animi perferendis facilis sed praesentium facere quo molestias dolor. Vel fugit voluptatem nam eum a est illo dolor laboriosam odio optio.</p>
                        <div class="projects-content-skills">
                            <span class="projects-content-skills__skill">React</span>
                            <span class="projects-content-skills__skill">Node.js</span>
                            <span class="projects-content-skills__skill">Express</span>
                        </div>
                    </div>
                    <div class="projects-content-preview">
                        <span class="projects-content-preview__previous-btn"></span>
                        <div class="projects-content-preview__img"></div>
                        <span class="projects-content-preview__next-btn"></span>
                    </div>
                </div>
            </div>

        </section>
    </div>
</body>
</html>