<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet/normalize.css">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <title>Kilian Nagel</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="grid-decoration"></div>
        <div class="grid-decoration"></div>
        <div class="grid-decoration"></div>
        <nav class="nav p-2">
            <div class="nav-inner">
                <p class="nav__text"></p>
                <button class="nav__menu-btn btn"></button>
            </div>
        </nav>
        <section class="hero">
            <nav class="nav">
            </nav>
            <div class="hero-content p-2">
                <h1 class="hero-content__text">Kilian<br><span class="hero-content__text--gray">Nagel</span></h1>
                <div class="hero-content-links">
                    <p class="hero-content-links__link">Projets <span class="hero-content-links__link-decoration">001</span></p>
                    <p class="hero-content-links__link">Compétences <span class="hero-content-links__link-decoration">002</span></p>
                    <p class="hero-content-links__link">Contact <span class="hero-content-links__link-decoration">003</span></p>
                </div>
            </div>
            <div class="hero-footer p-2">
                <div class="hero-footer__links">
                    <p class="hero-footer-links__link">github</p>
                    <br>
                    <p class="hero-footer-links__link">stackoverflow</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>