<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet/normalize.css">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <title>Kilian Nagel</title>
</head>
<body>
        <div class="grid-decoration"></div>
        <div class="grid-decoration"></div>
        <div class="grid-decoration"></div>

        <section class="hero section">
            <nav class="nav">
                <div class="nav-inner">
                    <p class="nav__text"></p>
                    <button class="nav__menu-btn btn"></button>
                </div>
            </nav>
            <div class="hero-content">
                <h1 class="hero-content__text">Kilian<br><span class="hero-content__text--gray">Nagel</span></h1>
                <div class="hero-content-links">
                    <p class="hero-content-links__link">About me</p>
                    <p class="hero-content-links__link">Projets</p>
                    <p class="hero-content-links__link">Compétences</p>
                    <p class="hero-content-links__link">Contact</p>
                </div>
            </div>
            <div class="hero-video-wrapper">
                <video playsinline autoplay muted loop poster="cake.jpg">
                  <source src="" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="hero-video-wrapper-video"></div>
            </div>
        </section>

        <section class="about-me section">
            <h2 class="about-me__title title">About me</h2>
            <div class="about-me-container">
                <div class="about-me-content">
                    <h3 class="about-me-content__subtitle subtitle">Développeur web</h3>
                    <p class="about-me-content__desc text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laudantium error minus dignissimos reprehenderit voluptates neque modi veritatis quidem mollitia aut in est accusamus ad nisi molestiae sunt recusandae sit!</p>
                </div>
            </div>
        </section>

        <section class="projects section">
            <h2 class="projects__title title">Projects</h2>
            <div class="projects-preview">
                <div class="projects-preview-container">
                    <div class="projects-preview-container-content">
                        <h3 class="projects-preview-container__subtitle subtitle">Recipes App</h3>
                        <p class="projects-preview-container__desc">Application permettant l'affichage de nombreuses recettes. Il est possible d'intéragir avec ces recettes et de les ajouter en favoris.</p>
                        <div class="projects-preview-container-skills">
                            <div class="projects-preview-container-skills__skill">node.js</div>
                            <div class="projects-preview-container-skills__skill">react.js</div>
                            <div class="projects-preview-container-skills__skill">express</div>
                        </div>
                    </div>
                    <div class="projects-preview-container-links">
                        <hr><br>
                        <div class="projects-preview-container-btn-list">
                            <span class="projects-preview-container-btn-list__btn">live project</span>
                            <span class="projects-preview-container-btn-list__btn">repo</span>
                        </div>
                    </div>
                </div>
                <div class="projects-preview-container">
                    <div class="projects-preview-container-content">
                        <h3 class="projects-preview-container__subtitle subtitle">Forum</h3>
                        <p class="projects-preview-container__desc">Site qui présente un jeu 'Light fight of darkness'. Le site dispose d'un login , forum et présente les features du jeu.</p>
                        <div class="projects-preview-container-skills">
                            <div class="projects-preview-container-skills__skill">node.js</div>
                            <div class="projects-preview-container-skills__skill">react.js</div>
                            <div class="projects-preview-container-skills__skill">express</div>
                        </div>
                    </div>
                    <div class="projects-preview-container-links">
                        <hr><br>
                        <div class="projects-preview-container-btn-list">
                            <span class="projects-preview-container-btn-list__btn">live project</span>
                            <span class="projects-preview-container-btn-list__btn">repo</span>
                        </div>
                    </div>
                </div>
                <div class="projects-preview-container">
                    <div class="projects-preview-container-content">
                        <h3 class="projects-preview-container__subtitle subtitle">Docs</h3>
                        <p class="projects-preview-container__desc">Site qui présente les features d'un site de documentation. 'Docs'</p>
                        <div class="projects-preview-container-skills">
                            <div class="projects-preview-container-skills__skill">node.js</div>
                            <div class="projects-preview-container-skills__skill">react.js</div>
                            <div class="projects-preview-container-skills__skill">express</div>
                        </div>
                    </div>
                    <div class="projects-preview-container-links">
                        <hr><br>
                        <div class="projects-preview-container-btn-list">
                            <span class="projects-preview-container-btn-list__btn">live project</span>
                            <span class="projects-preview-container-btn-list__btn">repo</span>
                        </div>
                    </div>
                </div>
                <div class="projects-preview-container">
                    <div class="projects-preview-container-content">
                        <h3 class="projects-preview-container__subtitle subtitle">Message App</h3>
                        <p class="projects-preview-container__desc">Simple application de messagerie. Permettant l'envoie de messages , l'ajout d'amis et création de groupes.</p>
                        <div class="projects-preview-container-skills">
                            <div class="projects-preview-container-skills__skill">node.js</div>
                            <div class="projects-preview-container-skills__skill">react.js</div>
                            <div class="projects-preview-container-skills__skill">express</div>
                        </div>
                    </div>
                    <div class="projects-preview-container-links">
                        <hr><br>
                        <div class="projects-preview-container-btn-list">
                            <span class="projects-preview-container-btn-list__btn">live project</span>
                            <span class="projects-preview-container-btn-list__btn">repo</span>
                        </div>
                    </div>
                </div>
            </div>            
        </section>

        <section class="skills section">
            <h2 class="skills__title title">Skills</h2>
            <div class="skills-preview">
                <div class="skills-preview-container">
                    <h3 class="skills-preview-container__subtitle subtitle">Web</h3>
                    <div class="skills-preview-container-skills">
                        <p class="skills-preview-container-skills__skill">Html</p>
                        <p class="skills-preview-container-skills__skill">Css</p>
                        <p class="skills-preview-container-skills__skill">Javascript</p>
                        <p class="skills-preview-container-skills__skill">React</p>
                        <p class="skills-preview-container-skills__skill">Sass</p>
                    </div>
                </div>
                <div class="skills-preview-container">
                    <h3 class="skills-preview-container__subtitle subtitle">Development</h3>
                    <div class="skills-preview-container-skills">
                        <p class="skills-preview-container-skills__skill">Git/Github</p>
                    </div>
                </div>
                <div class="skills-preview-container">
                    <h3 class="skills-preview-container__subtitle subtitle">Other</h3>
                    <div class="skills-preview-container-skills">
                        <p class="skills-preview-container-skills__skill">Figma</p>
                    </div>
                </div>
            </div>
        </section>
    
</body>
</html>